{% extends '::base.html.twig' %}

{% block body %}

    <table class="table table-striped table-hover" style="width: 300px;" align="center"
           xmlns="http://www.w3.org/1999/html">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <div id="easyPaginate" class="easyPaginateList">
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                </tr>
        </div>
        </tbody>
    </table>

    <a href="#page:1" title="First page" rel="1" class="first">&lt;&lt;</a><a href="" title="Previous" rel="" class="prev">&lt;</a><a href="#page:1" title="Page 1" rel="1" class="page">1</a><a href="#page:2" title="Page 2" rel="2" class="page current">2</a><a href="#page:3" title="Page 3" rel="3" class="page">3</a><a href="" title="Next" rel="" class="next">&gt;</a><a href="#page:3" title="Last page" rel="3" class="last">&gt;&gt;</a>
    {#<div align="center">#}
        {#<ul class="pagination">#}
                {#<li>pag</li>#}
        {#</ul>#}
    {#</div>#}
{% endblock %}
